.contact-block {
  background-color: #4ebfab;
  background-image: url("../images/contact-header.png");
  background-position: center top;
  background-repeat: no-repeat;
  color: $white;
  padding-top: 15em;
  padding-bottom: 2em;
}