.blue-scroll-button {
  background-image: url("../images/scroll-button-blue.png");
  background-size: cover;
  width: 191px;
  height: 200px;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  padding-top: 0.5em;
  font-family: mr-eaves-xl-modern,sans-serif;
  &:after {
    display: inline-block;
    content: " ";
    padding-top: 9px;
    padding-left: 14px;
    background-image: url("../images/button-scroll-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.75em;
  }
  &:hover {
    background-image: url("../images/scroll-button-blue-hover.png");
    color: $white;
  }
  &:hover:after {
    background-image: url("../images/button-scroll-arrow-hover.png");
  }
}

.orange-scroll-button {
  background-image: url("../images/scroll-button-orange.png");
  background-size: cover;
  width: 191px;
  height: 200px;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  padding-top: 0.5em;
  font-family: mr-eaves-xl-modern,sans-serif;
  &:after {
    display: inline-block;
    content: " ";
    padding-top: 9px;
    padding-left: 14px;
    background-image: url("../images/button-scroll-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.75em;
  }
  &:hover {
    background-image: url("../images/scroll-button-orange-hover.png");
    color: $white;
  }
  &:hover:after {
    background-image: url("../images/button-scroll-arrow-hover.png");
  }
}

.green-scroll-button {
  background-image: url("../images/scroll-button-lime-green.png");
  background-size: cover;
  width: 191px;
  height: 200px;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  padding-top: 0.5em;
  font-family: mr-eaves-xl-modern,sans-serif;
  &:after {
    display: inline-block;
    content: " ";
    padding-top: 9px;
    padding-left: 14px;
    background-image: url("../images/button-scroll-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.75em;
  }
  &:hover {
    background-image: url("../images/scroll-button-lime-green-hover.png");
    color: $white;
  }
  &:hover:after {
    background-image: url("../images/button-scroll-arrow-hover.png");
  }
}

.purple-scroll-button {
  background-image: url("../images/scroll-button-purple.png");
  background-size: cover;
  width: 191px;
  height: 200px;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  padding-top: 0.5em;
  font-family: mr-eaves-xl-modern,sans-serif;
  color: $white;
  &:after {
    display: inline-block;
    content: " ";
    padding-top: 9px;
    padding-left: 14px;
    background-image: url("../images/button-scroll-arrow-hover.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.75em;
  }
  &:hover {
    background-image: url("../images/scroll-button-purple-hover.png");
    color: $white;
  }
  &:hover:after {
    background-image: url("../images/button-scroll-arrow-hover.png");
  }
}

.purple-button {
  background-image: url("../images/button-purple.png");
  background-size: cover;
  width: 237px;
  height: 65px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  padding-top: 0.8em;
  font-family: mr-eaves-xl-modern,sans-serif;
  color: $white;
  &:after {
    display: inline-block;
    content: " ";
    padding-top: 9px;
    padding-left: 14px;
    background-image: url("../images/button-scroll-arrow-hover.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.75em;
  }
  &:hover {
    background-image: url("../images/button-purple-hover.png");
    color: $white;
  }
  &:hover:after {
    background-image: url("../images/button-scroll-arrow-hover.png");
  }
}