.events-header {
  background-color: #feca47;
  margin-top: -3px;
  color: $purple;
  .titles {
    .h2 {
      padding-top: 1.5em;
    }
  }
  .description {
    color: $dark-blue;
    padding-top: 3em;
  }
  .buttons a {
    margin-right: 0.2em;
  }
}

@include mui-series {
  .slide-in-left {
    @include mui-queue(1s, 0s, fade, slide($direction: right));
  }
}

@include mui-series {
  .slide-in-right {
    @include mui-queue(1s, 0s, fade, slide($direction: left));
  }
}