.grid-container {
  &.nopadding {
    padding-left: 0;
    padding-right: 0;
  }
}

.blue-background {
  background-color: $blue;
}

.light-blue-background {
  background-color: #f2fafd;
  position: relative;
  &.diagonal-bottom {
    background-image: url("../images/light-blue-background.png");
    background-size: 100% 28px;
    background-repeat: no-repeat;
    background-position: center bottom;
    &.reverse {
      background-image: url("../images/light-blue-background-bottom-reverse.png");
    }
  }
  &.diagonal-top.reverse {
    &:before {
      position: absolute;
      background-image: url("../images/light-blue-background-top-reverse.png");
      background-size: 100% 28px;
      background-repeat: no-repeat;
      background-position: center top;
      content: " ";
      width: 100%;
      height: 28px;
      left: 0;
      top: -3px;
    }
  }
}

.dark-blue-background {
  background-color: $dark-blue;
}

.black-background {
  background-color: $black;
}

.yellow-background {
  background-color: $yellow;
}

.orange-background {
  background-color: $orange;
}

.red-background {
  background-color: $red;
}

.purple-background {
  background-color: $purple;
}

.dark-purple-background {
  background-color: $dark-purple;
}

.lime-green-background {
  background-color: $lime-green;
}

.teal-background {
  background-color: $teal;
}

.hide-for-med-large {
  @include hide-for(large);
}

.show-for-med-large {
  @include show-for(large);
}

.red-spacer {
  position: relative;
  padding-bottom: 15px;
  &:after {
    position: absolute;
    width: 100%;
    content: " ";
    z-index: 10;
    bottom: 0;
    left: 0;
    height: 130px;
    max-height: 170px;
    background-image: url("../images/red-spacer.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    image-rendering: pixelated;
    @include breakpoint(915px) {
      background-size: contain;
      height: 11.806vw;
    }
  }
}

header.light-blue-background {
  padding-top: 2em;
  img {
    max-width: 100%;
    height: auto;
  }
  .h1 {
    font-size: 46px;
    @include breakpoint(550px) {
      font-size: 54px;
    }
    @include breakpoint(915px) {
      font-size: 72px;
    }
    line-height: 1.1;

  }
  .blue-button {
    width: 190px;
    height: 60px;
  }
}

.column-content-pad-right {
  padding-right: 1em;
  &.larger-text {
    padding-right: 1em;
  }
}

.column-left-border {
  position: relative;
  padding-left: 1em;
  &:before {
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 0;
    content: " ";
    width: 1px;
    border-left: 1px solid $dark-blue;
  }
}

footer {
  span {
    font-size: 12px;
    font-weight: bold;
    color: #dadada;
    opacity: 0.72;
  }
  padding-bottom: 2em;
}
